<!DOCTYPE html>
<html lang="en" data-ng-app="redactorDemo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Redactor 3.8 Demo</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="angular-redactor/redactor/redactor.min.css"></link>
    <link rel="stylesheet" href="angular-redactor/redactor/style.css"></link>
  </head>
  <body data-ng-controller="AppCtrl as app">
    <h1>Redactor 3.8 Demo!</h1>
    <textarea data-ng-model="app.content" redactor="{plugins: ['source', 'alignment', 'fontsize', 'fontfamily', 'fontcolor', 'table', 'video', 'imagemanager', 'inlinestyle', 'scriptbuttons', 'fullscreen']}" cols="30" rows="120"></textarea>
    <span>{{app.content}}</span>
    <div class="form-group">
      <button class="btn btn-default" ng-click="app.saveContent()">Save content</button>
    </div>
    <div id="loader-wrapper" class="hide"><div class="loader-bg"></div><div class="loader-spin" cs-loader=""><div class="left"><div class="rect rect1 color"></div><div class="rect rect2 color"></div><div class="rect rect3 color"></div><div class="rect rect4 color"></div><div class="rect rect5 color"></div><div class="rect rect6 color"></div></div><div class="right"> <div class="rect rect1 color"></div><div class="rect rect2 color"></div><div class="rect rect3 color"></div><div class="rect rect4 color"></div><div class="rect rect5 color"></div><div class="rect rect6 color"></div></div></div></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
    <!--<script type="text/javascript" src="angular-redactor/redactor/redactor.min.js"></script>-->
    <script type="text/javascript" src="angular-redactor/redactor/redactor.js"></script>
    <script type="text/javascript" src="angular-redactor/redactor/plugins.js"></script>
    <script type="text/javascript" src="angular-redactor/angular-redactor-2.js"></script>
  </body>
</html>